.container-product-visited, .container-product {
    position: relative;
    float: left;
    .title {
        margin: 27px 0 18px 0;
    }
}

.container-product-visited {
    width: 100%;
    @media only screen and (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint) {
        width: 43%;
    }
    @media only screen and (min-width: $desktop-breakpoint){
        width: 27%;
    }
}

.container-product {
    width: 100%;
    @media only screen and (min-width: $tablet-breakpoint) and (max-width: $desktop-breakpoint){
        width: 57%;
    }
    @media only screen and (min-width: $desktop-breakpoint){
        width: 73%;
    }

    .swiper-container {
        padding-bottom: 86px;
    }

    .swiper-pagination {
        z-index: 0;
    }

    .swiper-pagination-bullet {
        width: 11px;
        height: 11px;
    }

    .swiper-container-horizontal {
        & > {
            .swiper-pagination-bullets  {
                bottom: 60px;
            }
        }
    }

    .product-item {
       &:hover {
           border-bottom: 0;
       }
    }
}