
// Reference: http://chir.ag/projects/name-that-color/

// White
$white: #fff;

// Black
$black-shark: #303132;

// Gray
$gray-alto: #D4D2D2;
$gray-ebb: #edeaea;
$gray-pale-sky: #6D7480;
$gray-shuttle: #5E6774;

// Blue
$blue-river-bad: #3F4857;
$blue-oxford: #353F4F;

// Orange
$orange-blaze: #FF6600;